.color-square {
	width: 100px;
	height: 100px;
	display: inline-block;
}

.body {
    margin-left: 20%;
    margin-right: 20%;
    transition: background-color 0.75s ease;
}

#title {
    text-align: center;
    transition: color 0.75s ease;
}

#albumInfo {
    margin: 40px auto;
    width: 300px;
    height: 300px;
    position: relative;
}

 .bg-image-blur, .bg-image {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
}
 .bg-image-blur {
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
}
